<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乃木坂46卒業メンバーブログ</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="memberPageStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

</head>
<body>
    <div class="header">
        <h1 class="title" class="title">乃木坂46卒業メンバーブログ</h1>
        <div class="bg"></div>
    </div>
    
    <div class="container">
        <input type="checkbox" name="" id="side-menu-switch">
        <div class="side-menu" class="item-left">
            <nav> 
                <a href="https://teddy8997.github.io/hinatazaka46GraduateMemberBlog/" id="hinatazaka">日向坂46</a>
                <a href="https://teddy8997.github.io/sakurazaka46GraduateMemberBlog/" id="sakurazaka">櫻坂46</a>
                <a href="https://teddy8997.github.io/keyakizaka46GraduateMemberBlog/" id="keyakizaka">欅坂46</a>
            </nav>
            <label for="side-menu-switch">
                <i class="fa fa-angle-right"></i>
            </label>
        </div>

        <div id="app" class="item-right">
            <div v-for="(group, index) in list" class="group">
                <div class="year">
                    {{group.year}}
                </div>
                <div class="list">
                    <div v-for="(item, index) in group.member" class="list-container">
                        <a class="member" v-bind:href="item.link" >
                            <div class="avatar">
                                <img v-bind:src="item.image" v-bind:alt="item.name">
                            </div>
                            <div class="info">
                                <div class="name">
                                    {{item.name}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
var app = new Vue({
       el: '#app',
       data:{
           list: []
       },
       created: function () {
           fetch("./member_list.json")
            .then(resp => resp.json())
            .then(json => {
                this.list = json;
           })
           .catch(err => {
               console.warn(err);
           })
       }
   });
</script>
</html>